# Tugas 2

1. CARI DATA YANG BERTIPE NUMERIK (DATA KLASIFIKASI)
2. LAKUKAN PROSES DISKRITISASI DENGAN EQUAL WIDTH DAN EQUAL FREQUENCY
3. LAKUKAN PROSES DISKRITISASI DENGAN BASIS ENTROPY

In [1]:
import pandas as pd

In [3]:
dataset=('https://raw.githubusercontent.com/Shintaalya/dataset/main/College_Data')

In [4]:
df= pd.read_csv(dataset)

In [5]:
df.head(10)

,Unnamed: 0,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15
5,Albertson College,Yes,587,479,158,38,62,678,41,13500,3335,500,675,67,73,9.4,11,9727,55
6,Albertus Magnus College,Yes,353,340,103,17,45,416,230,13290,5720,500,1500,90,93,11.5,26,8861,63
7,Albion College,Yes,1899,1720,489,37,68,1594,32,13868,4826,450,850,89,100,13.7,37,11487,73
8,Albright College,Yes,1038,839,227,30,63,973,306,15595,4400,300,500,79,84,11.3,23,11644,80
9,Alderson-Broaddus College,Yes,582,498,172,21,44,799,78,10468,3380,660,1800,40,41,11.5,15,8991,52

In [9]:
# CONSTAN SERIES

APPS_SERIES = df["Apps"]
ACCEPT_SERIES = df["Accept"]
ENROLL_SERIES = df["Enroll"]
TOP10PERC_SERIES = df["Top10perc"]

**Discretization** adalah proses merubah atribut numerik menjadi atribut kategorikal dengan cara melakukan mapping data tersebut ke dalam interval atau concept label.
*   Teknik yang digunakan adalah :
    1.   Binning : proses topdown ini melakukan splitting berdasarkan jumlah bin
    2.   Histogram analysis: membuat partisi histogram ke dalam bucket atau bins.
    3. Cluster analysis : algoritma clustering diaplikasikan ke dalam atribut numerik dan membagi atribut ke dalam kelompok atau cluster.
    4. Decision tree anlysisi : teknik ini menentukan sebuah atribut yang memiliki entropi minimum dan kemudian dijadikan splitting point, kemudian secara rekursif melakukan partisi sehingga menghasilkan discretization yang memiliki hirarki
    5. Correlation analysis : mencari interval bersebelahan yang terbaik kemudian menggabungkan mereka ke dalam interval yang lebih besar.

*   Pendekatan Discretization
    1.   Equal-width intervals adalah discretization yang membagi data numerik menjadi beberapa kelompok dengan lebar kelompok yang kurang lebih sama besar.
    2.   Equal-frequency intervals adalah discretization yang membagi data numerik menjadi beberapa kelompok dengan jumlah anggota yang kurang lebih sama besar.
 **Cut** adalah sebuah method pada library pandas untuk melakukan perhitungan equal width intervals

In [ ]:
# Syntax
pd.cut(series, interval, right=True,label)

**Sepal Width**
*   Equal Width Intervals lebar kelopak bunga Iris
*   Dikelompokkan menjadi 3 kategori yaitu kategori sedikit lebar, lebar dan sangat lebar.

In [ ]:
# equal-width intervals

labels = ["Sedikit Lebar", "Lebar", "Sangat Lebar"]
amount_of_binning = len(labels)

sepal_width_ew_binning = pd.cut(SEPAL_WIDTH_SERIES, amount_of_binning, True, labels)
labelled_sepal_width_ew_binning = sepal_width_ew_binning.value_counts()
interval_sepal_width_ew_binning = pd.cut(SEPAL_WIDTH_SERIES, amount_of_binning, True).value_counts()